/* Task-2 START */
/* body{
    background-color:brown;
}
h1{
    text-align: center;
}
hr{
    width: 60%;
}
.header-img {
    position: relative;
    width: 100%;
    text-align: center;
}
.header-img h1{
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: white;
}
.header-img img {
    width: 100%;
    height: 700px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.nav li{
    display: inline;
    margin-left: 20px;
    font-size: 30px;
}
.content{
    width: 90%;
    margin: 0 auto;
    border: 2px solid green;
    padding: 20px;
    background-color: white;
}
.content h1{
    color: green    ;
}
.content p {
    font-size: 25px;
} */
/* Task-2 END */


/* Task-3 start */
/* div{
    width: 700px;
    background-color: rgb(124, 160, 160);
    

}
div p{
    border-left: 3px solid green;
    color: white;
    font-size: 20px;
    padding: 7px;
} */
/* Task-3 end */